alias sts='aws sts get-caller-identity'
alias ls='ls --color=auto'
alias vim="nvim"
alias pbcopy='xclip -selection clipboard'
alias pbpaste='xclip -selection clipboard -o'
alias sudo='sudo '
alias n='nmcli'
alias tmux='env TERM=screen-256color tmux'
